 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey, how's it going? I'm Sheldon. I'm an English teacher.</p>
                    <p>There are lots of reasons to learn English, and many ways to learn. There's no silver bullet when it comes to learning a new language, but there are some approaches that work better than others.</p>
                    <p>Often the most difficult thing for Japanese English students to overcome is their anxiety to get it "right". When it comes to language, this anxiety makes it more difficult to remember what we learn.</p>
                </div>
                <div class="col-lg-4">
                    <p>English Over Coffee focuses on teaching Japanese English students in a a relaxed, chilled out environment. I take the time to get to know you, and understand exactly what you want to learn before diving in to the lesson.</p>
                    <p>All lessons include a warm up, practice, role plays and a beautifully blended coffee or drink of your choice. I'm also happy to help with any special requests that you have.</p>
                    <p>Send me a message on Line and lets meet for your first lesson!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                
                </div>
            </div>
        </div>
    </section>