 <!-- Contact Section -->
<section class="success" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <img class="contact-images" src="img/line.png" />
                    <p>Add me on Line: shayolden</p>
                    <br />
                </a>
            </div>
            <div class="col-sm-4 text-center">              
                <img class="contact-images" src="img/facebook.png" />
                <a href="https://www.facebook.com/shayolden">
                    <p>Add me on Facebook</p>
                    <br />
                </a>                    
            </div>
            <div class="col-sm-4 text-center">                    
                <img class="contact-images" src="img/email.png" />
                <a href="mailto:&#115;&#104;&#101;&#108;&#100;&#111;&#110;&#046;&#106;&#046;&#106;&#111;&#104;&#110;&#115;&#111;&#110;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;">
                    <p>Email me</p>
                    <br />
                </a>                    
            </div>
        </div>
    </div>
</section>