<!-- Locations Section -->
<section id="locations">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Locations</h2>
                <hr class="star-primary">
            </div>
            <div class="col-lg-5 col-lg-offset-1 text-center">
                <a href="https://thesunliveshere.wordpress.com/">
                    <img class="location-images" src="img/ctslh.jpg" />
                    <p>cafe The SUN LIVES HERE</p>
                </a>
                <a href="https://goo.gl/maps/BfQZz">
                    <p>154-0024 東京都東京都世田谷区<br />三軒茶屋1-27-33</p>
                    <p>1 Chome-27-33 Sangenjaya,<br />Setagaya-ku, Tōkyō-to 154-0024</p>
                </a>
            </div>
            <div class="col-lg-5 text-center">
                <a href="http://jamhouse.info/">                
                    <img class="location-images" src="img/jamhouse.jpg" />
                    <p>JamHouse 天照</p>
                </a>
                <a href="https://goo.gl/maps/mfx8I">
                    <p>154-0012 東京都世田谷区<br />駒沢２丁目３３−７</p>
                    <p>2 Chome-33-7 Komazawa,<br />Setagaya-ku, Tōkyō-to 154-0012</p>
                </a>
            </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
        </div>
    </div>
</section>